*{
    padding-top: 0;
    margin: 0;
}

h3{
    color: green;
}

#id_1{
    color: red;
}

.class_1{
    color:yellow;
}

#margin_demo{
    margin-top: 126px;
}
.box_model{
    border: 20px solid black;
    margin: 30px;
    margin-left: 0px;
    font: 16px sans-serif;
    text-align: center;
}