.positioning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .changebutton {
    padding: 16px 32px;
    font-size: 16px;
    border-radius: 32px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 4px 6px rgba(19, 19, 19, 0.1);
  }
  
  .changebutton:active {
    transform: translateY(4px);
  }